.bg-button-menu {
   
    position: absolute;
    left: 1205px;
    top: 28px;
    width: 170px;
    height: 36px;
    z-index: 161;
	border: 2px solid blue;
	border-radius: 44px;
	opacity: 0.065;
}

@media only screen and (min-width : 320px) and (max-width : 580px) {
	.bg-button-menu {
    position: absolute;
    left: 75px;
    top: 28px;
    width: 170px;
    height: 36px;
    z-index: 161;
	border: 2px solid blue;
	border-radius: 44px;
	opacity: 0.065;
	}
}
	
.text-button-menu {
  font-size: 18px;
  font-family: "Lato";
  color: rgb(38, 28, 95);
  line-height: 0.104;
  text-align: center;
  position: absolute;
  left: 1207px;
  top: 44.743px;
  width: 170px;
  height: 36px;
  z-index: 162;
}

@media only screen and (min-width : 320px) and (max-width : 580px) {
	.text-button-menu {
  font-size: 18px;
  font-family: "Lato";
  color: rgb(38, 28, 95);
  line-height: 0.104;
  text-align: center;
  position: absolute;
  left: 75px;
  top: 44.743px;
  width: 170px;
  height: 36px;
  z-index: 162;
	}
}

.photo-logo{
	position: absolute;
	top: 41.743px;
	margin-left: 339px;
}

@media only screen and (min-width : 320px) and (max-width : 580px) {
.photo-logo{
	position: absolute;
	top: 41.743px;
	margin-left: 339px;
	display: none;
}
}
.Our {
  font-size: 36px;
  font-family: "Lato";
  color: rgb(25, 25, 25);
  line-height: 0.052;
  text-align: center;
  position: absolute;
  left: 634.534px;
  top: 123.676px;
  width: 208px;
  height: 27px;
  z-index: 160;
}

@media only screen and (min-width : 320px) and (max-width : 580px) {
	.Our {
  font-size: 36px;
  font-family: "Lato";
  color: rgb(25, 25, 25);
  line-height: 0.052;
  text-align: center;
  position: absolute;
  left: 75px;
  top: 123.676px;
  width: 208px;
  height: 27px;
  z-index: 160;
	}
}

.paragraph-menu {
  font-size: 14px;
  font-family: 'Lato Regular' light;
  color: rgb(25, 25, 25);
  line-height: 2;
  text-align: center;
  position: absolute;
  left: 427.251px;
  top: 220.25px;
  width: 759px;
  height: 96px;
  z-index: 159;
}

@media only screen and (min-width : 320px) and (max-width : 580px) {
	.paragraph-menu {
  font-size: 12px;
  font-family: 'Lato Regular' light;
  color: rgb(25, 25, 25);
  line-height: 2;
  text-align: center;
  position: absolute;
  left: 55.251px;
  top: 190.25px;
  width: 205px;
  height: 1px;
  z-index: 159;
  white-space: pre-line;
	}
}

.photo-our {
  background-color: rgb(4, 0, 71);
  position: absolute;
  left: 354px;
  top: 394px;
  width: 320px;
  height: 152px;
  z-index: 156;
}

@media only screen and (min-width : 320px) and (max-width : 580px) {
	.photo-our {
  background-color: rgb(4, 0, 71);
  position: absolute;
  left: 0px;
  top: 484px;
  width: 4px;
  height: -22px;
  z-index: 156;
}

.Experiences {
  font-size: 16px;
  font-family: 'Lato';
  color: rgb(25, 25, 25);
  line-height: 1.4;
  text-align: center;
  position: absolute;
  left: 375.069px;
  top: 580.198px	;
  width: 269px;
  height: 126px;
  z-index: 155;
}

@media only screen and (min-width : 320px) and (max-width : 580px) {
.Experiences {
  font-size: 12px;
  font-family: 'Lato';
  color: rgb(25, 25, 25);
  line-height: 1.4;
  text-align: center;
  position: absolute;
  left: 55.069px;
  top: 660.198px;
  width: 219px;
  height: 126px;
  z-index: 155;
	}	
}

.photo-ourV2 {
  background-color: rgb(4, 0, 71);
  position: absolute;
  left: 704px;
  top: 394px;
  width: 269px;
  height: 152px;
  z-index: 153;
}

@media only screen and (min-width : 320px) and (max-width : 580px) {
	.photo-ourV2 {
  background-color: rgb(4, 0, 71);
  position: absolute;
  left: 0px;
  top: 794px;
  width: 269px;
  height: 152px;
  z-index: 153;
}
}

.Time {
  font-size: 16px;
  font-family: "Lato";
  color: rgb(25, 25, 25);
  line-height: 1.4;
  text-align: center;
  position: absolute;
  left: 736.901px;
  top: 581.198px;
  width: 247px;
  height: 128px;
  z-index: 152;
  white-space: nowrap;
}

@media only screen and (min-width : 320px) and (max-width : 580px) {
.Time {
  font-size: 12px;
  font-family: 'Lato';
  color: rgb(25, 25, 25);
  line-height: 1.4;
  text-align: center;
  position: absolute;
  left: 55.069px;
  top: 970.198px;
  width: 219px;
  height: 126px;
  z-index: 155;
	}	
}

.photo-ourV3 {
  background-color: rgb(4, 0, 71);
  position: absolute;
  left: 1065px;
  top: 394px;
  width: 269px;
  height: 152px;
  z-index: 150;
}

@media only screen and (min-width : 320px) and (max-width : 580px) {
	.photo-ourV3 {
  background-color: rgb(4, 0, 71);
  position: absolute;
  left: 0px;
  top: 1154px;
  width: 269px;
  height: 152px;
  z-index: 153;
}
}

.Dynamic {
  font-size: 16px;
  font-family: "Lato";
  color: rgb(25, 25, 25);
  line-height: 1.4;
  text-align: center;
  position: absolute;
  left: 1094.525px;
  top: 580.107px;
  width: 274px;
  height: 126px;
  z-index: 149;
  white-space: nowrap;
}

@media only screen and (min-width : 320px) and (max-width : 580px) {
.Dynamic {
  font-size: 12px;
  font-family: 'Lato';
  color: rgb(25, 25, 25);
  line-height: 1.4;
  text-align: center;
  position: absolute;
  left: 55.069px;
  top: 1340.198px;
  width: 219px;
  height: 126px;
  z-index: 155;
	}	
}


.arrow {
  position: absolute;
  left: 1020px;
  top: 605px;
  width: 43px;
  height: 16px;
  z-index: 148;
}
@media only screen and (min-width : 320px) and (max-width : 580px) {
.arrow {
  position: absolute;
  left: 155px;
  top: 755px;
  width: 13px;
  height: 16px;
  z-index: 148;
  transform: rotate(90deg);
	}
}
.arrowV2 {
  position: absolute;
  left: 660px;
  top: 605px;
  width: 43px;
  height: 16px;
  z-index: 147;
}

@media only screen and (min-width : 320px) and (max-width : 580px) {
.arrowV2 {
  position: absolute;
  left: 155px;
  top: 1095px;
  width: 13px;
  height: 16px;
  z-index: 148;
  transform: rotate(90deg);
	}
}

.bg-Group3 {
  background-image: -moz-linear-gradient( 0deg, rgb(10,31,109) 0%, rgb(11,32,109) 32%, rgb(250,86,2) 73%, rgb(250,84,0) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(10,31,109) 0%, rgb(11,32,109) 32%, rgb(250,86,2) 73%, rgb(250,84,0) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(10,31,109) 0%, rgb(11,32,109) 32%, rgb(250,86,2) 73%, rgb(250,84,0) 100%);
  position: absolute;
  left: -1px;
  top: 802px;
  width: 100%;
  height: 154px;
  z-index: 142;
}

@media only screen and (min-width : 320px) and (max-width : 580px) {
.bg-Group3 {
  background-image: -moz-linear-gradient( 0deg, rgb(10,31,109) 0%, rgb(11,32,109) 32%, rgb(250,86,2) 73%, rgb(250,84,0) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(10,31,109) 0%, rgb(11,32,109) 32%, rgb(250,86,2) 73%, rgb(250,84,0) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(10,31,109) 0%, rgb(11,32,109) 32%, rgb(250,86,2) 73%, rgb(250,84,0) 100%);
  position: absolute;
  left: -1px;
  top: 1472px;
  width: 100%;
  height: 154px;
  z-index: 142;
  width: 335px;
	}
}

.decisions {
  font-size: 20px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: center;
  position: absolute;
  left: 533.36px;
  top: 816.198px;
  z-index: 144;
}

@media only screen and (min-width : 320px) and (max-width : 580px) {
.decisions {
 font-size: 12px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: center;
  position: absolute;
  left: -1px;
  top: 1506.198px;
  z-index: 154;
	}
}

.William {
  font-size: 14px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  line-height: 2;
  text-align: right;
  position: absolute;
  left: 857.434px;
  top: 890.25px;
  width: 231px;
  height: 12px;
  z-index: 153;
}

@media only screen and (min-width : 320px) and (max-width : 580px) {
.William {
 font-size: 12px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: center;
  position: absolute;
  left: 58px;
  top: 1576.198px;
  z-index: 154;
	}
}

.Technology {
  font-family: "Lato";
  color: rgb(25, 25, 25);
  line-height: 0.052;
  text-align: center;
  position: absolute;
  left: 688.147px;
  top: 1095.676px;
  width: 187px;
  height: 33px;
  z-index: 137;
}

@media only screen and (min-width : 320px) and (max-width : 580px) {
.Technology {
  font-family: "Lato";
  color: rgb(25, 25, 25);
  line-height: 0.052;
  text-align: center;
  position: absolute;
  left: 68px;
  top: 1646.198px;
  z-index: 154;
	}
}

.Capture {
  font-size: 20px;
  font-family: "Lato";
  color: rgb(25, 25, 25);
  line-height: 1.4;
  text-align: left;
  position: absolute;
  right: 350px;
  top: 140px;
  width: 313px;
  height: 296px;
  z-index: 135;
  
}

@media only screen and (min-width : 320px) and (max-width : 580px) {
.Capture {
  font-size: 16px;
  font-family: "Lato";
  color: rgb(25, 25, 25);
  line-height: 1.4;
  text-align: left	;
  position: absolute;
  left: -35px;
  top: 280px;
  width: 313px;
  height: 296px;
  z-index: 135;
	}	
}

.photo01 {
 
  position: absolute;
  right: 220px;
  top: 140px;
  width: 1px;
  height: 220px;
  z-index: 134;
}

@media only screen and (min-width : 320px) and (max-width : 580px) {
.photo01 img{
 background-color: rgb(4, 0, 71);
  position: absolute;
  left: -20px;
  top: -110px;
  width: 300px;
  height: 200px;
  z-index: 125;
  	
	}
}

.BrainVu {
  font-size: 20px;
  font-family: "Lato";
  color: rgb(25, 25, 25);
  line-height: 1.4;
  text-align: left;
  position: absolute;
  right: 350.994px;
  top: 230.198px;
  width: 313px;
  height: 296px;
  z-index: 135;
   white-space: nowrap;
}

@media only screen and (min-width : 320px) and (max-width : 580px) {
.BrainVu {
 background-color: rgb(4, 0, 71);
  position: absolute;
  left: -20px;
  top: -110px;
  width: 300px;
  height: 200px;
  z-index: 125;
  	
	}
}

@media only screen and (min-width : 320px) and (max-width : 580px) {
.BrainVu {
  font-size: 12px;
  font-family: "Lato";
  color: rgb(25, 25, 25);
  line-height: 1.4;
  text-align: left;
  position: absolute;
  left: -35px;
  top: 340px;
  width: 313px;
  height: 296px;
  z-index: 135;
	}	
}

.photo02 {
  position: absolute;
  left: 220px;
  top: 600px;
  width: 664px;
  height: 316px;
  z-index: 125;
  display: block;
}

@media only screen and (min-width : 320px) and (max-width : 580px) {
.photo02 img {
  position: absolute;
  left: -271px;
  top: -110px;
  width: 300px;
  height: 200px;
  z-index: 135;
  display: block;
		
	}
}

.Model{
  font-size: 20px;
  font-family: "Lato";
  color: rgb(25, 25, 25);
  line-height: 1.4;
  text-align: left;
  position: absolute;
  left: 250.988px;
  top: 620px;
  width: 305px;
  height: 184px;
  z-index: 130;
}

@media only screen and (min-width : 320px) and (max-width : 580px) {
.Model{
  font-size: 16px;
  font-family: "Lato";
  color: rgb(25, 25, 25);
  line-height: 1.4;
  text-align: left;
  position: absolute;
  left: -45.988px;
  top: 750px;
  width: 305px;
  height: 184px;
  z-index: 130;
}

.participants {
  font-size: 20px;
  font-family: "Lato";
  color: rgb(25, 25, 25);
  line-height: 1.4;
  text-align: left;
  position: absolute;
  left: 250.988px;
  top: 710px;
  width: 305px;
  height: 184px;
  z-index: 130;
}

@media only screen and (min-width : 320px) and (max-width : 580px) {
.participants {
  font-size: 12px;
  font-family: "Lato";
  color: rgb(25, 25, 25);
  line-height: 1.4;
  text-align: left;
  position: absolute;
  left: -45px;
  top: 820px;
  width: 305px;
  height: 184px;
  z-index: 130;
}

.photo03 {
  
  position: absolute;
  margin-left: 10px;
  top: 1050px;
  width: 664px;
  height: 316px;
  z-index: 117;
}

@media only screen and (min-width : 320px) and (max-width : 580px) {
.photo03 img {
  position: absolute;
  left: -61px;
  top: -140px;
  width: 300px;
  height: 200px;
  z-index: 135;
  display: block;
		
	}
}

.Real {
  font-size: 20px;
  font-family: "Lato";
  color: rgb(25, 25, 25);
  line-height: 1.4;
  text-align: left;
  position: absolute;
  margin-left: -485px;
  top: 1070px;
  width: 319px;
  height: 296px;
  z-index: 122;
}

@media only screen and (min-width : 320px) and (max-width : 580px) {
.Real{
      font-size: 16px;
  font-family: "Lato";
  color: rgb(25, 25, 25);
  line-height: 1.4;
  text-align: left;
  position: absolute;
  left: 435px;
  top: 1130px;
  width: 285px;
  height: 184px;
  z-index: 130;
	}
}

.indices {
  font-size: 20px;
  font-family: "Lato";
  color: rgb(25, 25, 25);
  line-height: 1.4;
  text-align: left;
  position: absolute;
  margin-left: -485px;
  top: 1190px;
  width: 19px;
  height: 296px;
  z-index: 122;
	 white-space: nowrap;
}

@media only screen and (min-width : 320px) and (max-width : 580px) {
.indices{
   font-size: 12px;
  font-family: "Lato";
  color: rgb(25, 25, 25);
  line-height: 1.4;
  text-align: left;
  position: absolute;
  left: 435px;
  top: 1200px;
  width: 285px;
  height: 184px;
  z-index: 130;
	}
}


	